@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(27, 26, 26);
}

.topBar {
  background-color: rgb(43, 40, 40);
  height: 55px;
}

.mainTitle {
  font-size: 25px;
  padding: 5px;
  padding-left: 270px;
  font-weight: bold;
}

.footer {
  background-color: rgb(97, 88, 76);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 55px;
}

.author {
  padding-top: 15px;
  padding-left: 30px;
}

.matchesWon {
  margin-left: 40px;
  margin-right: 940px;
  margin-top: 10px;
  height: 100px;
  text-align: center;
  font-weight: 600;
  background-color: rgba(80, 76, 70, 0.4);
  border-radius: 15px;
  padding-top: 10px;
}

.box1 {
  font-weight: 600;
  background-color: rgba(80, 76, 70, 0.4);
  border-radius: 15px;
  margin-left: 40px;
  margin-right: 780px;
  margin-top: 10px;
  padding-top: 10px;
  height: 100px;
}

.box2 {
  margin-left: 200px;
  margin-right: 620px;
  margin-top: -100px;
  height: 100px;
  text-align: center;
  font-weight: 600;
  background-color: rgba(80, 76, 70, 0.4);
  border-radius: 15px;
  padding-top: 10px;
}

.box3 {
  margin-left: 360px;
  margin-right: 460px;
  margin-top: -100px;
  height: 100px;
  text-align: center;
  font-weight: 600;
  background-color: rgba(80, 76, 70, 0.4);
  border-radius: 15px;
  padding-top: 10px;
}

.box4 {
  margin-left: 520px;
  margin-right: 300px;
  margin-top: -100px;
  height: 100px;
  text-align: center;
  font-weight: 600;
  background-color: rgba(80, 76, 70, 0.4);
  border-radius: 15px;
  padding-top: 10px;
}

.data {
  font-size: 25px;
  opacity: 1.5;
}

.lifetimeBox {
  margin-left: 50px;
  margin-top: 30px;
  height: 170px;
  text-align: center;
  font-weight: 600;
  background-color: rgba(80, 76, 70, 0.4);
  border-radius: 15px;
  padding-top: 10px;
  background-image: url(https://images3.alphacoders.com/841/841918.jpg);
  float: left;
  width: 50%;
}

.lifetimeTitle {
  text-align: left;
  margin-left: 20px;
  font-size: 20px;
}

.accountName {
  text-align: left;
  margin-left: 30px;
  font-size: 30px;
  margin-top: 15px;
  font-weight: bold;
}

.pvpBox {
  margin-left: 50px;
  margin-top: 30px;
  height: 170px;
  text-align: center;
  font-weight: 600;
  background-color: rgba(80, 76, 70, 0.4);
  border-radius: 15px;
  padding-top: 10px;
  background-image: url(https://www.gamerguides.com/assets/media/17/83/79359-1411772400.jpg);
  object-fit: cover;
  float: left;
  width: 50%;
}

.sidePanel {
  position: fixed;
  top: 0;
  right: -300px; /* Adjust this value to change the initial position of the side panel */
  height: 100vh;
  width: 300px; /* Adjust the width of the side panel as needed */
  background-color: #0e0d0d; /* Adjust background color */
  transition: transform 0.3s ease-out;
  font-size: 25px;
  text-align: center;
}

.sidePanel.open {
  transform: translateX(
    -300px
  ); /* Adjust this value to control how far the side panel pops out */
}

.sidePanelText {
  margin-top: 110px;
}

.pveBox {
  margin-left: 50px;
  margin-top: 30px;
  height: 170px;
  text-align: center;
  font-weight: 600;
  background-color: rgba(80, 76, 70, 0.4);
  border-radius: 15px;
  padding-top: 10px;
  background-image: url(https://pbs.twimg.com/media/FtctaSSWIAAqrhR?format=jpg&name=4096x4096);
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
  width: 50%;
}

.loader span {
  animation-name: bounce;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.loader span:nth-child(2) {
  animation-delay: 50ms;
}
.loader span:nth-child(3) {
  animation-delay: 150ms;
}

.messageBoxWide {
  margin-top: 120px;
  margin-left: 70px;
}

.chatBoxTitle {
  font-size: 25px;
  text-align: center;
}

.chatbotBox {
}
